/* Z-INDEX TRACKER:
  - 999: sidebar
  - 1000: menu bar overlay
  - 1001: menu bar
  - 2000: version selector overlay
  - 2001: version selector
  - 3000: chart
  - 4000: calculator overlay
  - 4001: calculator
  - 9999: tooltip text
*/

/* main page initial styling */
html, body {
  margin: 0px;
  padding: 0px;
  background-color: #111111;
  color: #ffffff;
  font-family: "Inconsolata", monospace;
  text-align: center;
  scrollbar-gutter: stable;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body:after {
  z-index: -1;
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
  content: url(../../assets/misc/home-hover.webp) url(../../assets/misc/top-hover.webp) url(../../assets/misc/calc-hover.webp) url(../../assets/misc/chart-hover.webp) url(../../assets/misc/download-hover.webp);
}
li {
  margin-left: 15px;
}

/* ----------------------------------------------------------------------- PAGE ELEMENTS ----------------------------------------------------------------------- */

#sidebar {
  z-index: 999;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 45px;
  height: 100vh;
  background-color: #222222;
  border-right: 2.5px solid #444444;
}
#page {
  margin-left: 47.5px;
  position: relative;
}

/* ----------------------------------------------------------------------- ABOUT ME/SITE ----------------------------------------------------------------------- */

/* text format */
h1, p {
  margin: 0px;
}
.title {
  color: #f29e38;
  text-decoration: underline;
  font-size: 18px;
  text-align: right;
}

/* about me/site disclaimer */
#about, #disclaimer {
  margin: 0px 15px;
  gap: 75px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  background-color: #27363e;
  border-radius: 4px;
  display: flex;
}
/* about me/disclaimer text box */
#about-text, #disclaimer-text {
  font-size: 12px;
}
.about-img {
   width: 96px;
}

/* site history, about, provides */
#site {
  margin: 15px;
  gap: 15px;
  display: flex;
}
.site-info {
  display: flex;
  flex: 1;
  flex-direction: column;
}
/* site history, site about */
#site-hist, #site-about {
  padding: 15px;
  background-color: #27363e;
  border-radius: 4px;
  font-size: 12px;
  text-align: left;
  flex: 1;
}
/* site provides */
#site-prov {
  margin-top: 15px;
  padding: 15px;
  background-color: #27363e;
  border-radius: 4px;
  font-size: 12px;
  text-align: left;
  flex: 1;
}
#site-hotkey {
  gap: 75px;
  line-height: 1.75;
  display: flex;
  flex-direction: row;
}

/* things i do, bucket list, favorite things */
#other {
  margin: 15px;
  gap: 15px;
  display: flex;
}
#tid, #bl, #fav {
  padding: 15px;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background-color: #27363e;
  border-radius: 4px;
  display: flex;
  flex: 1;
}

/* things i do */
#tid-text {
  width: 180px;
  font-size: 12px;
}
#tid-img {
  width: 400px;
}

/* bucket list */
#bl-text {
  width: 180px;
  font-size: 12px;
}
#bl-display1-1 {
  z-index: 22;
}
#bl-display1-2 {
  z-index: 22;
  left: 40px;
  position: relative;
  margin-top: 15px;
}
#bl-display2 {
  top: -7.5px;
  position: relative;
}
#bl-img1 {
  width: 150px;
}
#bl-img2 {
  width: 250px;
}

/* favorite things */
#fav-text {
  width: 300px;
  font-size: 12px;
}
#fav-img1 {
  width: 800px;
}
#fav-img2 {
  width: 200px;
}

/* image captions */
#caption {
  color: #aaaaaa;
  margin-top: 5px;
  font-size: 12px;
}

/* ------------------------------------------------------------------ NAVIGATION BUTTONS ------------------------------------------------------------------ */

nav {
  padding: 30px;
  display: flex;
  justify-content: center;
}
a.link {
  color: #b2cee7;
}
a.btn{
  padding: 10px 20px;
  border: 2px solid #b2cee7;
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  user-select: none;
}
a.btn:hover {
  background-color: #b2cee7;
  color: #000000;
  transition: all 0.1s ease-in-out;
}

/* ---------------------------------------------------------------------- GO TO TOP ----------------------------------------------------------------------- */

#top-btn {
  bottom: 10px;
  left: 10px;
  position: absolute;
  width: 27.5px;
  height: 27.5px;
  cursor: pointer;
  user-select: none;
  background-size: 27.5px;
  background-repeat: no-repeat;
  background-position: center;
}
#top-btn {
  background-image: url(../../assets/misc/top.webp);
}
#top-btn:hover {
  background-image: url(../../assets/misc/top-hover.webp);
}

/* ----------------------------------------------------------------------- MENU BAR ----------------------------------------------------------------------- */

/* menu bar toggle buttons */
#mb-btn, #mb-btn-open {
  top: 7.5px;
  left: 10px;
  position: absolute;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
}
#mb-btn:hover, #mb-btn-open:hover {
  color: #b2cee7;
  transition: all 0.1s ease-in-out;
}

/* menu bar outside overlay */
#mb-o {
  z-index: 1000;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.5;
  display: none;
}

/* menu bar */
#mb {
  z-index: 1001;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: #222222;
  border-right: 2.5px solid #444444;
  user-select: none;
  display: none;
  flex-direction: column;
}
#mb-bar {
  height: 50px;
  border-bottom: 2.5px solid #444444;
}
#mb-c {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overscroll-behavior: contain;
}

/* menu bar home/about buttons */
#mb-bar-misc {
  right: 0px;
  position: absolute;
  height: 50px;
  display: flex;
}
#mb-bar a {
  width: 20px;
  height: 20px;
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
#mb-bar a:hover {
  color: #b2cee7;
}
#mb-home-btn {
  background-image: url(../../assets/misc/home.webp);
}
#mb-home-btn:hover {
  background-image: url(../../assets/misc/home-hover.webp);
}
#mb-about-btn {
  font-size: 20px;
}

/* menu bar section splitter */
#mb-sec {
  margin: 5px;
  margin-top: 25px;
  width: calc(100% - 10px);
  color: #f29e38;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

/* menu bar navigation buttons to other pages */
#mb-c a {
  padding: 10px;
  width: calc(100% - 20px);
  color: #ffffff;
  text-decoration: none;
}
#mb-c a:hover {
  color: #b2cee7;
}

/* menu bar number format changer */
#mb-nf {
  margin-top: auto;
  padding: 15px;
  gap: 10px;
  width: calc(100% - 30px);
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
#mb-nfb {
  gap: 10px;
  display: flex;
}
/* number format buttons */
.nfb {
  padding: 5px;
  border: 1px solid #b2cee7;
  border-radius: 4px;
  background-color: #222222;
  color: #ffffff;
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  flex: 1;
}
.nfb:hover {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #000000;
  transition: all 0.1s ease-in-out;
}
.nfb.selected {
  background-color: #b2cee7;
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
  transition: all 0.1s ease-in-out;
}
/* example number */
#mb-ex-num {
  color: #ff5555;
  font-weight: bold;
}

/* menu bar toggles */
#mb-t {
  margin-bottom: 15px;
  width: 100%;
  gap: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
/* menu bar setting */
#mb-stg {
  margin: 0px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* leaks/spoilers toggle */
#mb-lt, #mb-st {
  width: 45px;
  height: 22.5px;
  position: relative;
}
#lt, #st {
  inset: 0px;
  position: absolute;
  border-radius: 25px;
  background-color: #444444;
  cursor: pointer;
}
#lt:before, #st:before {
  left: 2.5px;
  bottom: 2.5px;
  position: absolute;
  width: 17.5px;
  height: 17.5px;
  border-radius: 12.5px;
  background-color: #ffffff;
  content: "";
  transition: all 0.1s ease-in-out;
}
input:checked + #lt:before, input:checked + #st:before {
  transform: translateX(22.5px);
}
input:checked + #lt, input:checked + #st {
  background-color: #b2cee7;
}

/* ----------------------------------------------------------------------- TOOLTIPS ----------------------------------------------------------------------- */

/* menu bar/enemy tooltips */
.tt-menu, .tt-v-hp {
  margin-left: 7.5px;
  position: relative;
  font-family: "Arial";
  font-size: 14px;
  display: inline-block;
  user-select: none;
}
.tt-e-hp {
  bottom: 92.5%;
  right: 77.5%;
  position: absolute;
  font-family: "Arial";
  font-size: 24px;
  user-select: none;
}
.tt-e-stat {
  width: 25px;
  margin-top: 2.5px;
  color: #888888;
  font-size: 16px;
  user-select: none;
}
.tt-menu:hover, .tt-v-hp:hover, .tt-e-stat:hover {
  color: #b2cee7;
}

/* tooltip text */
.tt-text {
  z-index: 9999;
  padding: 5px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 4px;
  background-color: #444444;
  color: #ffffff;
  font-family: "Inconsolata", monospace;
  font-size: 12px;
  line-height: 1.5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease-in-out;
  user-select: text;
}
.tt-menu .tt-text {
  bottom: 25px;
  width: 120px;
}
.tt-v-hp .tt-text {
  bottom: 27.5px;
  width: 225px;
}
.tt-e-hp .tt-text {
  bottom: 37.5px;
  white-space: nowrap;
}
.tt-e-stat .tt-text {
  top: 190px;
  white-space: nowrap;
}
.tt-menu:hover .tt-text, .tt-v-hp:hover .tt-text, .tt-e-hp:hover .tt-text, .tt-e-stat:hover .tt-text {
  opacity: 1;
  visibility: visible;
}

/* tooltip arrow */
.tt-menu .tt-text::after, .tt-v-hp .tt-text::after, .tt-e-hp .tt-text::after, .tt-e-stat .tt-text::after {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border: 5px solid;
  content: "";
}
.tt-menu .tt-text::after, .tt-v-hp .tt-text::after, .tt-e-hp .tt-text::after {
  top: 100%;
  border-color: #444444 transparent transparent transparent;
}
.tt-e-stat .tt-text::after {
  bottom: 100%;
  border-color: transparent transparent #444444 transparent;
}

/* ---------------------------------------------------------------------- VERY MISC ---------------------------------------------------------------------- */

@font-face {
  font-family: "Inconsolata";
  src: url(../assets/Inconsolata-Regular.woff2) format("woff2");
}
@media (max-width: 1360px) {
  .about-img, #tid-display, #bl-display1, #bl-display2, #fav-display1, #fav-display2 { display: none; }
}
@media (max-width: 1080px) {
  .title { text-align: center; }
  p { line-height: 1.75; }
}
@media (max-width: 720px) {
  #about, #disclaimer { text-align: left; }
  #other, #site { flex-direction: column; }
  #site-hotkey { gap: 25px; }
}
@media (max-width: 480px) {
  #sidebar { width: 100vw; height: 50px; border-right: 0px; border-bottom: 2.5px solid #444444; }
  #top-btn { left: auto; right: 10px; }
  #page { margin-left: 0px; margin-top: 52.5px; }
}